.authorization {
    &__form {
        padding: 2rem;
        border-radius: 2rem;
        background: rgba(0, 0, 0, 0.5);
        display: grid;
        grid-template-columns: min-content 1fr;
        gap: 1rem;
    }
}