extends layout_guest

block content

  <section class="first-screen padding-2" id="first-screen">
    <h2 class="title">#{title}</h2>
    <img class="first-screen__img" src=#{title_img} alt="">
  </section>