extends layout_guest

block content

  <section class="authorization view">
    <p class="title">#{title}</p>
    <form class="authorization__form padding-1" action="" method="post">
      <p>Ник:</p><input name="name" type="text" id="">
      <p>Пароль:</p><input name="password" type="password" id="">
      <div></div>
      <button class="button">Зарегистрироваться</button>
    </form>
  </section>
