<footer class="footer view padding-1">
  <p class="footer__text">Черный Рынок Назгл</p>
  <p class="footer__text">Площадка сделанная по приколу и не имеет ни кого отношения к продажам чего либо.</p>
</footer>