<header class="header view padding-1">
    <nav class="nav">
        <ul class="nav__items">
            <li class="nav__item"><a class="nav__item-link" href="/">Главная</a></li>
            <li class="nav__item"><a class="nav__item-link" href="/products">Товары</a></li>
            <li class="nav__item"><a class="nav__item-link" href="/basket">Корзина <span class="nav-basket-quantity">#{quantity}</span></a></li>
            <li class="nav__item"><a class="nav__item-link" href="/auth">Авторизация</a></li>
        </ul>
    </nav>
</header>